# Name of the web server's directory dedicated to the wiki is WIKI_DIR_NAME
WIKI_DIR_NAME=${WIKI_DIR_NAME:-/w}

# Login and password of the wiki's admin
WIKI_ADMIN=${WIKI_ADMIN:-WikiAdmin}
WIKI_PASSW=${WIKI_PASSW:-AdminPass}

# Address of the web server
SERVER_ADDR=${SERVER_ADDR:-localhost}

# SQLite database of the wiki, named DB_FILE, is located in TMP
WEB=${WEB:-/wiki}
TMP=${TMP:-$WEB/db}
MW_DEBUG_LOG=${MW_DEBUG_LOG:-$TMP/mw-debug.log}
DB_FILE=${DB_FILE:-my_wiki.sqlite}
TEST_DIR=${WEB}/t

# If LIGHTTPD is not set to true, the script will use the default
# web server running in WIKI_DIR_INST.
WIKI_DIR_INST=${WIKI_DIR_INST:-$WEB/www}

# If LIGHTTPD is set to true, the script will use Lighttpd to run
# the wiki.
LIGHTTPD=${LIGHTTPD:-true}

# The variables below are useful only if LIGHTTPD is set to true.
PORT=${PORT:-1234}
PHP_DIR=${PHP_DIR:-/usr/bin}
LIGHTTPD_DIR=${LIGHTTPD_DIR:-/usr/sbin}
WEB_TMP=${WEB_TMP:-$WEB/tmp}
WEB_WWW=${WEB_WWW:-$WEB/www}

# The variables below are used by the script to install a wiki.
# You should not modify these unless you are modifying the script itself.
MW_VERSION_MAJOR=${MW_VERSION_MAJOR:-1.33}
MW_VERSION_MINOR=${MW_VERSION_MINOR:-0}
MW_TGZ=${MW_TGZ:-mediawiki-${MW_VERSION_MAJOR}.${MW_VERSION_MINOR}.tar.gz}
MW_URLBASE=${MW_URLBASE:-https://releases.wikimedia.org/mediawiki}
MW_URL=${MW_URL:-${MW_URLBASE}/${MW_VERSION_MAJOR}/${MW_TGZ}}
FILES_FOLDER=${FILES_FOLDER:-$WEB/file}
DB_INSTALL_SCRIPT=${DB_INSTALL_SCRIPT:-db_install.php}

# used in test-gitmw.pl
export SERVER_ADDR
export PORT
export WIKI_DIR_NAME
export WIKI_ADMIN
export WIKI_PASSW