# Name of the web server's directory dedicated to the wiki is WIKI_DIR_NAME
WIKI_DIR_NAME=

# Login and password of the wiki's admin
WIKI_ADMIN=WikiSysop
WIKI_PASSW=Password123456

# Address of the web server
SERVER_ADDR=wiki

# If LIGHTTPD is not set to true, the script will use the default
# web server running in WIKI_DIR_INST.
WIKI_DIR_INST=/var/www

# Port the wiki is run on
PORT=80

# The DB folder (full path, use $PWD if necessary)
FILES_FOLDER=/var/www/data

# The name of the DB file
DB_FILE=wiki.sqlite

# Where the pristine DB files are stored
DB_PRISTINE=/var/www/pristine

# Set to false for github
LIGHTTPD=false

# The variables below are useful only if LIGHTTPD is set to true.
PHP_DIR=/usr/bin
LIGHTTPD_DIR=/usr/sbin
WEB=/var/www/html
WEB_TMP=/tmp
WEB_WWW=$WEB
